    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/index.js"></script>
    <footer>
      <a href="https://cmujsa.com" target="_blank">
        <img class="footer-logo" alt="jsa_logo" src="/assets/logo.png">
      </a>
    </footer>
  </body>
</html>
