<!--
  Copyright 2019 - 2021
  Japanese Student Association at Carnegie Mellon University.
  All rights reserved. MIT license.
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- Materialize -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/css/index.css">

  <!-- Favicon -->
  <link rel="icon" href="/favicon.ico">

  <!--  Social Media meta tags -->

  <meta property="og:title" content="jsa.life/*">
  <meta property="og:description" content="URL shortener for JSA members to use ♥️">
  <meta property="og:image" content="/assets/banner.png">
  <meta property="og:url" content="http://jsa.life">
  <meta name="twitter:card" content="/assets/banner.jpg">
  <meta property="og:site_name" content="JSA URL Shortener">
  <meta name="twitter:image:alt" content="The JSA URL Shortener">

  <title>JSA URL Shortener</title>
</head>
<body>
  <%if (!secure) { %>
    <div class="center-align insecure-popup">
      Your connection to this site is not secure (http).<br>
      Consider accessing <a href="https://jsa-life.herokuapp.com">here</a> instead.
    </div>
  <% } %>
