<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- Materialize -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/css/index.css">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=WG2L7xEqaO">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=WG2L7xEqaO">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=WG2L7xEqaO">
  <link rel="manifest" href="/site.webmanifest?v=WG2L7xEqaO">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=WG2L7xEqaO" color="#222222">
  <link rel="shortcut icon" href="/favicon.ico?v=WG2L7xEqaO">
  <meta name="apple-mobile-web-app-title" content="jsa.life/*">
  <meta name="application-name" content="jsa.life/*">
  <meta name="msapplication-TileColor" content="#222222">
  <meta name="theme-color" content="#222222">

  <!--  Social Media meta tags -->

  <meta property="og:title" content="jsa.life/*">
  <meta property="og:description" content="URL shortener for JSA members to use ♥️">
  <meta property="og:image" content="/assets/banner.png">
  <meta property="og:url" content="http://jsa.life">
  <meta name="twitter:card" content="/assets/banner.png">
  <meta property="og:site_name" content="JSA URL Shortener">
  <meta name="twitter:image:alt" content="The JSA URL Shortener">

  <title>JSA URL Shortener</title>
</head>
<body>
  <div class="container center-align">
