/**
 * Copyright 2019-2020 Japanese Student Association at Carnegie Mellon University.
 * All rights reserved. MIT license.
 */

html {
  background: #eeeeee;
  color: #222222;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #2e3192;
}

h4 {
  margin: 1rem 0;
}

p {
  margin: 0;
}

a {
  color: #f2001f;
  text-decoration: none;
}

.insecure-popup {
  color: #e9e9e9;
  background-color: #f2001f;
  padding: 2vh 0;
}

.insecure-popup a {
  color: #ffffff;
  text-decoration: underline;
}

.notfound-image {
  max-width: 90vw;
  max-height: 60vh;
}

.hidden {
  position: fixed;
  left: -100px;
  top: -100px
}

.required {
  color: #ec8a90;
  font-size: 0.8em;
}

.shortened-modal {
  background: #dddddd;
  border-radius: 15px;
  padding: 2em;
}

.shortened-link {
  color: #f2001f;
}

.original-url {
  margin-left: 10%;
  margin-right: 10%;
}

.link-button {
  display: block;
  margin: auto;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.link-button:focus {
  background: none;
}

.toast-red {
  background: #9c3f3f;
}

.footer-logo {
  position: fixed;
  width: 10vw;
  min-width: 90px;
  right: 30px;
  bottom: 15px;
}

.table {
  table-layout: fixed;
}

.table-cell {
  display: table-cell;
}

.btn-remove {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 5px 0;
  background: none;
  border: none;
  color: #f2001f;
  cursor: pointer;
  border-radius: 5px;
}

.btn-remove:hover {
  background: #cccccc;
  border: none;
}

.btn-remove:focus {
  background: #cccccc;
  border: none;
}

/**
 * Customize Materialize
 */

.btn-large {
  background: linear-gradient(#2e3192, #1d2081);
  border: 1px solid #2e3192;
  color: #dddddd;
  box-shadow: none;
  border-radius: 8px;
}

.btn-large:hover {
  background: linear-gradient(#4f53b4, #3f42a3);
  box-shadow: none;
}

.disabled {
  background: #cccccc;
  border: 1px solid #bbbbbb;
}

.input-field input {
  color: #222222;
}

/* label color */
.input-field label {
  color: #555555;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #888888 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #2e3192 !important;
  box-shadow: 0 1px 0 0 #555555 !important;
}

/* label focus color */
.input-field input[type=password]:focus + label {
  color: #888888 !important;
}

/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid #2e3192 !important;
  box-shadow: 0 1px 0 0 #555555 !important;
}

.input-field .helper-text {
  color: #555555;
}
